
#contact-img-back {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url("https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position-y: top;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-img-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 60% */
}
.contact-out-title {
    position: relative; /* Asegura que el texto esté por encima del pseudo-elemento ::after */
    z-index: 1; /* Coloca el texto encima del pseudo-elemento ::after */
    margin: 0; /* Asegúrate de eliminar cualquier margen predeterminado */
    padding: 0; /* Asegúrate de eliminar cualquier relleno predeterminado */
    color: white;
    font-weight: 900;
    font-size: 70px;
    /* mix-blend-mode:exclusion; Utiliza mix-blend-mode para mezclar el texto con el fondo */
}

#contact-header{
    width: 60%;
    margin: 50px auto;
}
.contact-title{
    font-size: 45px;
    text-align: center;
}
.contact-description{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    color: rgb(79, 78, 78);
}
#contact-body{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
}
#contact-body > .left-side{
    border-radius:10px;
    background-color: rgb(255, 166, 49);
    width: 30%;
    height: auto;
}


.contact-channels{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color:white
}
.channel{
    background-color: rgb(66, 64, 64);
    width: auto;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.left {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/5745183/pexels-photo-5745183.jpeg?auto=compress&cs=tinysrgb&w=800");
    z-index: 0; /* Añadido para asegurar que el contenido esté delante del pseudo-elemento */
}
.medium {
    background-color: rgb(195, 191, 191);
    height: 100%;
    color: black;
}
.right {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/326576/pexels-photo-326576.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    z-index: 0; /* Añadido para asegurar que el contenido esté delante del pseudo-elemento */
}
.left::before,
.right::before,
.left::after,
.right::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Color negro con opacidad del 50% */
    z-index: -1; /* Para asegurarse de que estén detrás del contenido principal */
}
.fa-mobile-alt,.fa-at,.fa-whatsapp{
    font-size: 40px;
    margin-bottom: 15px;
}
.cnt-btn{
    width: 120px;
    background-color: rgb(213, 157, 66);
    transition: transform 0.3s ease; 
}
.cnt-btn:hover{
    background-color: rgb(213, 157, 66);
    border: none;
    transform: translateY(-15%);
    color: black;
}
#contact-body{
    width: 70%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}
#contact-form {
    margin: 30px auto;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}
#contact-form div {
    margin-bottom: 15px;
}
#contact-form label {
    display: inline-block;
    margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea{
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 0.5px solid black;
    box-sizing: border-box; 
}
#contact-submit{
    background-color: bisque;
    border-radius: 10px;
    border:none;
    padding: 10px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 5px 5px 5px gray;
}

@media (max-width:768px){
    #contact{
        height: auto;
    }
    #contact-body{
        flex-direction: column;
        height: auto;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        background-color: white;
    }
    #contact-body > .left-side{
        width: 100%;
    }
    .contact-out-title {
        font-size: 60px;
    }
    .contact-channels{
        grid-template-columns: 1fr;
        gap: 0;
        height: auto;
        width: 90%;
    }
}