.page-footer{
	background-color: rgb(232, 231, 231);
}

#newsletter{
	border: none !important;
	border-radius: 10px;
	padding: 10px;
}
footer a {
    color: black !important;
	text-decoration: none;
}