#introduction-board{
    min-height: 100vh;
}
.ib-left-side{
    padding-left: 60px;
    padding-top: 70px;
}
.ib-left-side h1{
    font-weight: 900;
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
}
.service-type-intro {
    background: linear-gradient(90deg, rgb(123, 185, 171), gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ib-btn-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.ibBtn{
    width: 200px;
    border-radius: 20px;
}
.btnQuote{
    background-color: black !important;
    color: white !important;
}
.btnContact{
    border: 0.5px solid black !important;
}

.ib-right-side {
    display: flex; /* Convertir en contenedor flex */
    justify-content: flex-end; /* Alinear contenido a la derecha */
    background-image: url("https://images.unsplash.com/photo-1556761175-b413da4baf72?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    position: relative;
}   

.ib-right-side-img-container {
    background-color: rgb(144, 214, 219);
    height: 250px;
    width: 250px;
    border-radius: 20px;
    margin: 20px;
}
