.navbar-toggler{
    background-color: white;
}
nav {
    background-color: black;
    border-bottom:0.5px solid rgb(149, 145, 145);
}
.nav-link:focus, .nav-link:hover {
    color: #f8f9fa;
}
.nav-link{
    color: white;
    cursor: pointer;
    padding-left:15px ;
}
.nav-item:hover{
    transform: scale(1.2);
    color:white !important
}

@media (max-width: 480px) {
    .nav-item{
        text-align: center;
    }
}