.navbar-toggler {
    margin-right: 25px;
}
nav {
    /* border-radius: 20px; */
    font-size: 18px;
    /* width: 90%; */
    margin: 0 auto;
    position: sticky !important;
    top: 0;
    backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
    z-index: 99;
}


.nav-link {
    color: black !important;
    cursor: pointer;
    padding-left: 15px;
    width: 120px;
    position: relative;
    text-align: center;
}
.nav-item {
    position: relative;
    transition: transform 0.3s ease; 
}
.nav-item:hover{
    transform: translateY(-13%)
}
.nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.5s ease;
}

.nav-item:hover::after { 
    width: 100%;
    background-color: rgb(226, 163, 38);
}

.navbar-brand {
    transform: translateX(30%);
    position: relative;
    left: 5%;
    font-size: 30px;
    color: black !important;
    letter-spacing: 7px;
}

.navbar-logo {
    width: 80px;
    height: 60px;
}

.dot-com {
    font-size: 13px;
}

@media (max-width: 790px) {
    .nav-item {
        text-align: center;
    }
    .navbar-brand {
        left: 25px;
    }
    .navbar-toggler {
        margin-right: 10px;
    }
   
    .navbar-nav{
        align-items: center;
    }
    .nav-item::after {
        transition: width 0.1s ease;
    }
    
}
