.navbar-toggler{
    background-color: white;
}
nav {
    background-color: black;
}
.nav-link:focus, .nav-link:hover {
    color: #f8f9fa;
}
.nav-link{
    color: white;
    cursor: pointer;
    padding-left:15px ;
}
.nav-item:hover{
    transform: scale(1.2);
    color:white !important
}
.navbar-brand{
    transform: translateX(30%);
    position: relative;
    left: 5%;
    font-size: 30px;
    color: white;
    letter-spacing: 7px; /* Ajusta el valor según el espaciado deseado */

}
.navbar-logo{
    width: 80px;
    height: 60px;
}
.dot-com{
    font-size: 13px;
}

@media (max-width: 480px) {
    .nav-item{
        text-align: center;
    }
    .navbar-brand{
        left: 25px;
    }
    .navbar-toggler{
        margin-right: 10px;
    }
}