#projects-board{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#projects-board > h1{
  color: white;
}
.projects{
  margin-top: 50px;
  margin-left: 95px;
  margin-bottom: 0;
  color: white;
}
.projects-board-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 70px 50px 80px;
}
.project-item {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Agregamos transición para el efecto de zoom */
  z-index: 1; /* Asegura que la imagen esté por encima del título */
}

.project-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro */
  color: white;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente transparente */
  transition: opacity 0.3s ease; /* Transición suave de opacidad */
  z-index: 2; /* Asegura que el título esté sobre la imagen */
}
.focus{
  left: 720px;
}
.project-item:hover .project-img {
  transform: scale(1.2); /* Hace que la imagen se haga zoom al hacer hover */
}

.project-item:hover .project-name {
  opacity: 1; /* Hace que el nombre del proyecto sea visible cuando se hace hover */
}

@media (max-width: 470px){
  .projects-board-inner{
      grid-template-columns: 1fr;
      padding: 30px;
  }
  .project-item{
      margin-bottom: 30px;
  }
  #projects-board{
    background-size:cover;
  }
  .focus{
    left: 220px;
    width: 80px;
  }
}
