#services {
    min-height: 100vh;
    background-color: #FFFFFF; /* Blanco */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.category{
    font-weight: 700;
    color: rgb(141, 187, 182) !important;
    margin: 30px 0 !important;
}
#services h2{
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 50px;
    text-align: center;
}
.services-description{
    max-width: 60%;
    margin-bottom: 50px;
    text-align: center;
}

@keyframes show {
  from  {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
 #timeline,.accordion,.faq-body-left,.why-us-card, #reviews,.two-same-cards,#second-service-article, #first-service-article{
  view-timeline-name : --container;
  view-timeline-axis: block;
  animation-timeline: --container;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;

}

.service-article{
  border-radius: 20px;
  display: flex;
  align-items: center;
  background:  rgb(211, 228, 232) ;
}
.service-article-two{
  border-radius: 20px;
  background:  rgb(211, 228, 232) ;
}
.service-article header i{
  background-color: green;
  padding: 10px;
  border-radius: 10px
}
.service-article main ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}
.article-img-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.article-img-container-two{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.article-img-container-two img{
  height: 100%;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}
.article-img-container img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}


.same-cards-row {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 20px; /* Adjust this as needed */
  padding: 10px; /* Adjust this as needed */
}

.two-same-cards {
  background:  rgb(211, 228, 232) ;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.same-card-img-container{
  position: relative;
  right: -50px;
  height: 350px;
  bottom: -150px;
  transform: rotate(-10deg);
}
.same-card-img-container img{
  height: 100%;
  border-radius: 20px;
}