.service-card{
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.service-card-header{
    height: 200px;
}
.service-card-header > img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.service-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(241, 240, 240);
    border-bottom: 12px solid black
}