#reviewBoard {
    position: relative; /* Agregado */
    margin-bottom: 40px;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reviewsCarousel {
    position: relative; /* Agrega posición relativa para alinear elementos internos */
    width: 70%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    margin: 0 auto; /* Para centrar horizontalmente */
}


.carousel-inner {
    position: relative; /* Agrega posición relativa para alinear elementos hijos */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
}

.carousel-item {
    position: absolute;
    z-index: 1;
    top: 50%; /* Ajusta la posición vertical al 50% */
    left: 50%; /* Ajusta la posición horizontal al 50% */
    transform: translate(-50%, -50%); /* Centra completamente el elemento */
    background: linear-gradient(360deg, rgb(179, 178, 178), rgb(225, 223, 223));
    height: 90%;
    width: 70%;
}

.carousel-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-item .container {
    text-align: center;
}

.container p {
    font-size: 15px !important;
    margin: 0;
    color: black;
    opacity: 0;
}



.review-img {
    width: 80px;
    height: 120px;
    position: absolute;
    right: -5%;
    top: 30%;
    object-fit: cover;
}

.carousel-item.active h2 {
}

.carousel-item.active p {
}

.carousel-item.active .btn {
}

.carousel-indicators [data-bs-target] {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 767px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }

    .carousel-indicators li {
        height: 60px;
        width: 60px;
    }

    .carousel-item h2 {
        font-size: 45px;
    }

    .carousel-item p {
        font-size: 22px;
    }
}
