#why-us-container h2{
    font-weight: 900;
    font-size: 45px;
}
.why-us-card{
    width: 500px;
}
.card-number{
    font-weight: 800;
    font-size: 45px;
    background: linear-gradient(90deg, rgb(123, 185, 171), gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-title{
    font-weight: 900;
    font-size: 30px;
}
.card-description{

}