#why-us-container{
    overflow: hidden;
    position: relative;
}
#why-us-container h2{
    font-weight: 900;
    font-size: 45px;
}
.why-us-card{
    width: 500px;
}
.card-number{
    font-weight: 800;
    font-size: 45px;
    background: linear-gradient(90deg, rgb(123, 185, 171), gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-title{
    font-weight: 900;
    font-size: 30px;
}
.services-stylish-img-container{
    height: 400px;
    width: 400px;
    top: 50px;
    position: absolute;
    right: -200px;
    transform: rotate(45deg);
}
.services-stylish-img-container-down{
    position: absolute;
    height: 400px;
    width: 400px;
    left: -150px;
    transform: rotate(45deg);
}

@media (max-width:992px){
    .services-stylish-img-container-down{
        left: -250px;
    }
}
@media (max-width:768px){
    .services-stylish-img-container-down{
        left: -300px;
    }
}
@media (max-width:576px){
    .services-stylish-img-container-down{
        left: -350px;
        bottom: -150px;
    }
}